# 2.CHECKLIST ANALISIS DATA EKSPLORATIF
#Read in your data
setwd("E:/R/ANDAT")
getwd()
data<-read.csv("datasatisfaction.csv", sep = ",", header = TRUE)
data

#Check the packaging
nrow(data)
ncol(data)
str(data)

#Look at the top and the bottom of your data
head(data)
tail(data)

#Check your “n”s
library(dplyr)
dim(data) 
satisfaction<-data %>% filter(!is.na(data$pengalaman.keseluruhan) & !is.na(data$kecepatan.pengiriman)) 
satisfaction
dim(satisfaction)

#Validate with at least one external data source
summary(satisfaction$kecepatan.pengiriman)
quantile(satisfaction$kecepatan.pengiriman)
 
#Make a plot 
library(ggplot2)
ggplot(satisfaction, aes(kecepatan.pengiriman,pengalaman.keseluruhan)) + geom_boxplot(colour="purple")
 
#Try the easy solution first 
ggplot(satisfaction, aes(kecepatan.pengiriman, pengalaman.keseluruhan)) + geom_abline(colour="purple") 

 
#Follow up
y=satisfaction$pengalaman.keseluruhan
x=satisfaction$kecepatan.pengiriman
lm(y~x, data = satisfaction)
model=lm(y~x)
summary(model) 
anova(model) 

# 3.MENGGUNAKAN MODEL UNTUK MENGEKSPOR DATA 
#Histogram variabel dependen    
set.seed(1) 
x = rnorm(1000,mean=3.324229,sd=1.422923) 
y = satisfaction$pengalaman.keseluruhan 
hist(y, breaks = 10, probability = TRUE, col = c("purple"), lty = 2) 
curve(dnorm(x, mean = 3.324229, sd = 1.422923), add = TRUE)  
